.match-events {
    flex: 1 100%;

    @media @mobile {
        flex: 1 48%;
    }

    &--block {
        .component-block();

        &__head {
            .component-head();
        }

        &__content {
            .component-content();
        }
    }
}

.events {
    display: flex;
    flex-direction: column;

    &--home, &--away {
        display: flex;
        align-items: center;
        border-bottom: solid 2px #ffffff3b;
        height: 50px;
        background: @primary-colour;

        &__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 45%;
            padding: 0 10px;

            .time, .type, .player {
                
            }
        }
    }

    &--away {
        justify-content: flex-end;
        background: @dark-primary-colour;

        &__block {

        }}
    }