.league-scorers, .league-assists, .league-combined {
    .component-block();
    flex: 1 100%;

    @media @mobile {
        flex: 1;
    }

    &--block {

        &__head {
            .component-head();
        }

        &__content {
            .component-content();
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

.player-stat {
    background: @dark-primary-colour;
    justify-content: space-between;
    display: flex;
    .rounded();

    &--stat {
        background: @accent-colour;
        color: @secondary-colour;
        font-size: 20px;
        font-weight: 600;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
    }

    &--content {
        display: flex;
        align-items: center;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .rounded();

        &__img {
            width: 50px;
            height: 50px;
            background: @light-primary-colour;
            border: 2px solid @secondary-colour;
            .circle();

            @media @mobile-s {
                display: none;
            }
        }

        &__player {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            font-weight: 500;
            padding-left: 15px;
            color: @secondary-colour;

            @media @mobile-s {
                padding-left: 5px;
            }

            span {
                font-size: 16px;
                font-weight: 300;
                color: @dark-secondary-colour;
            }
        }
    }
}

#my-team {
    .player-stat {
    
        &--content {
    
            &__player {
                
    
                span {
                    display: none
                }
            }
        }
    }
}