.league-charts {
    .component-block();
    flex: 1 100%;

    @media @mobile {
        flex: 1 45%;
        order: 4;
    }

    &--block {

        &__head {
            .component-head();
        }

        &__content {
            .component-content();
        }
    }
}