.footer {
    background: @dark-accent-colour;
    
    &--content{
    height: 150px;
    margin: 0 0 70px 0;
    .site-width();
    .flex-even();

    @media @mobile-s{
        flex-direction: column;
        height: 300px;
    }

    @media @mobile{
        margin: 0 auto;
    }

    &__section{
        font-size: 20px;
        
        ul{

            li{
                
                a{
                    color: @text-colour;
                    font-size: 16px;

                    &:hover {
                        color: @accent-colour;
                        transition: 0.5s;
                    }
                }
            }
        }
    }}
}