.navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: @nav-bg-colour;
    .flex-center();

    ul {
        .flex-even();
        width: 100%;

        a {
            color: @nav-text-colour;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover,
            &:active {
                color: @accent-colour;
                transition: 0.5s;
            }

            .nav-text {
                display: none;
            }

            .icon-games, .icon-tables, .icon-players {
                width: 50px;
                height: 34px;

                &:hover,
                &:active {
                    transition: 0.5s;
                }

                @media @mobile {
                    display: none;
                }
            }

            .icon-games {
                background-image: url(../../assets/games.svg);
                &:hover,
                &:active {
                    background-image: url(../../assets/games-hover.svg);
                }
            }
            .icon-tables {
                background-image: url(../../assets/tables.svg);
                &:hover,
                &:active {
                    background-image: url(../../assets/tables-hover.svg);
                }
            }
            .icon-players {
                background-image: url(../../assets/players.svg);
                &:hover,
                &:active {
                    background-image: url(../../assets/players-hover.svg);
                }
            }
        }

        .nav-cta {
            display: none;
        }
    }

    @media @mobile {
        position: relative;
        width: auto;
        height: auto;
        background: none;

        ul {
            gap: 60px;

            a {
                font-size: 22px;

                .nav-text {
                    display: flex;
                }
            }

            .nav-cta {
                display: none;
                .component-cta();
                margin: 0;
                padding: 10px;

                a {
                    &:hover {
                        color: @nav-text-colour;
                    }
                }
            }
        }
    }
}