// IMPORTS
@import (css) url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

// MEDIA QUERIES
@mobile-s: ~'only screen and (max-width: 480px)'; //smaller than mobile
@mobile: ~'only screen and (min-width: 768px)'; //bigger than mobile
@tablet: ~'only screen and (min-width: 992px)'; //bigger than tablet
@desktop: ~'only screen and (min-width: 1200px)'; //bigger than desktop

// FONTS
@font-main: 'DM Sans', sans-serif;

// BASE COLOURS
@primary-colour: #232828;
@secondary-colour: #F2F4F0;
@accent-colour: #349749;

// BASE DARK
@dark-primary-colour: darken(@primary-colour, 15%);
@dark-secondary-colour: darken(@secondary-colour, 15%);
@dark-accent-colour: darken(@accent-colour, 15%);

// BASE LIGHT
@light-primary-colour: lighten(@primary-colour, 15%);
@light-secondary-colour: lighten(@secondary-colour, 15%);
@light-accent-colour: lighten(@accent-colour, 15%);

// GENERAL COLOURS
@bg-colour: @accent-colour;
@text-colour: @secondary-colour;

// NAV COLOURS
@nav-bg-colour: @primary-colour;
@nav-text-colour: @text-colour;