.header {
    background: @primary-colour;
    .box-shadow();

    .header-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        border-bottom: @border-colour solid 2px;

        @media @mobile{
            justify-content: space-between;
            max-width: 1280px;
            width: auto;
            height: 90px;
            margin: auto;
            padding: 0 30px;
            border: 0;
        }

        .logo {
            font-size: 30px;
            font-weight: 700;
            color: @text-colour;
            text-align: center;
            display: flex;
            align-items: center;

            @media @mobile{
                font-size: 32px;
            }

            @media @desktop{
                font-size: 36px;
            }

            &::after {
                content: '';
                display: inline-block;
                height: 20px;
                width: 20px;
                background: @text-colour;
                transform: rotate(45deg);
                margin-left: 15px;
                animation: rotation 5s infinite linear;
            }

            &:hover {
                color: @secondary-colour;
                transition: 0.5s;

                &::after {
                    background: @secondary-colour;
                }
            }
        }
    }
}