// LESS IMPORTS
@import 'variables.less';
@import 'mixins.less';

// COMPONENT IMPORTS
@import 'header.less';
@import 'navigation.less';
@import 'footer.less';

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: @bg-gradient;
    color: @text-colour;
}
