// IMPORTS
@import 'variables.less';

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: @bg-gradient;
    color: @text-colour;
}
#nav{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 20px 0;

    a{
        text-decoration: none;
        text-align: center;
        color: @text-colour;
    }
}
