.navigation{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: @border-colour solid 2px;
    background: @bg-colour;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        a{
            text-decoration: none;
            color: @text-colour;
            font-size: 20px;
        }
    }

    @media @mobile{
        position: relative;
        width: auto;
        height: auto;
        border: 0;
        background: none;

            ul {
                gap: 60px;
        
                a{
                    font-size: 26px;
                }
            }
        }
}
