// IMPORTS
@import (css) url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

// MEDIA QUERIES
// @mobile-s: ~'only screen and (min-width: 480px)';
@mobile: ~'only screen and (min-width: 768px)';
@tablet: ~'only screen and (min-width: 992px)';
@desktop: ~'only screen and (min-width: 1200px)';

// FONTS
@font-main: 'DM Sans', sans-serif;

// BASE COLOURS
@text-colour: #fff;
@border-colour: #fff;
@bg-colour: #097B2A;





